<template>
  <article class="message">
    <div class="message-body">
      <h1 class="title is-5">Доставка</h1>
      <template v-if="selecting">
        <ShippingAddressSelector
          :addresses="addresses"
          :selectedAddress="selectedAddress"
          @click="addressSelected"
        />
      </template>
      <template v-else-if="creating">
        <ShippingAddressCreator @cancel="creating = false" @created="created"/>
      </template>
      <template v-else>
        <template v-if="selectedAddress">
          <p>
            {{ selectedAddress.name }}
            <br>
            {{ selectedAddress.address_1 }}
            <br>
            {{ selectedAddress.city }}
            <br>
            {{ selectedAddress.postal_code }}
            <br>
            {{ selectedAddress.country.name }}
          </p>
          <br>
        </template>
        <div class="field is-grouped">
          <p class="control">
            <a href class="button is-info" @click.prevent="selecting = true">Изменить адрес доставки</a>
          </p>
          <p class="control">
            <a href class="button is-info" @click.prevent="creating = true">Добавить адрес</a>
          </p>
        </div>
      </template>
    </div>
  </article>
</template>
<script>
import ShippingAddressSelector from "./ShippingAddressSelector";
import ShippingAddressCreator from "./ShippingAddressCreator";

export default {
  data() {
    return {
      selecting: false,
      creating: false,
      localAddresses: this.addresses,
      selectedAddress: null
    };
  },
  props: {
    addresses: {
      required: true,
      type: Array
    }
  },
  computed: {
    defaultAddress() {
      return this.localAddresses.find(a => a.default === true);
    }
  },
  watch: {
    selectedAddress(address) {
      this.$emit("input", address.id);
    }
  },
  components: {
    ShippingAddressSelector,
    ShippingAddressCreator
  },
  methods: {
    switchAddress(address) {
      this.selectedAddress = address;
    },
    addressSelected(address) {
      this.switchAddress(address);
      this.selecting = false;
    },
    created(address) {
      this.localAddresses.push(address);
      this.creating = false;

      this.switchAddress(address);
    }
  },
  created() {
    if (this.addresses.length) {
      this.switchAddress(this.defaultAddress);
    }
  }
};
</script>
