<template>
    <div class="section">
        <div class="container is-fluid">
            <div class="columns is-centered">
                <div class="column is-6">
                    <h1 class="title is-4">Авторизация</h1>
                    <form action="" @submit.prevent="signin">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control">
                                <input type="email" class="input" placeholder="Введите email" v-model="form.email">
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Пароль</label>
                            <div class="control">
                                <input type="password" class="input" placeholder="Пароль" v-model="form.password">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-info is-medium">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            async signin () {
                await this.$auth.loginWith('local', {
                    data: this.form
                });

                this.$router.replace({
                    name: 'index'
                })
            }
        }
    }
</script>

<style scoped>

</style>